body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(rgb(12, 164, 228),rgb(20, 20, 208), rgb(24, 3, 101));
    background-repeat: no-repeat;
    height: 100vh;
    width: 10%;
}
.personagem{
    mix-blend-mode: multiply;
}
.imgGrama{
    position: absolute;
    z-index: 2;
    object-fit: cover;
    height: 40vh;
    width: 100%;
}
.imgRio{
    object-fit: cover;
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 30%;
}
